<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Landing Page - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../../assets/stylesheets/landing-page.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!--<script href="js/landing_page.js"></script>   --> 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav botao-home" href="#">Inspiracéu</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" class="botao-sobre">Sobre</a>
                    </li>
                    <li>
                        <a href="#" class="botao-equipe">Equipe</a>
                    </li>                     
                    <li>
                        <a href="#" class="botao-servico">Serviço</a>
                    </li>
                    <li>
                        <a href="#" class="botao-contato">Contato</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header home-->
    <a name="home" id="home"></a>
    <div class="intro-header purpurinado">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Aprenda, experimente e ganhe com isso</h1>
                        <h3>Somos uma rede exclusiva para troca de aprendizado com experiência </h3>
                        
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <!--<li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li> -->
                            <li>
                                <a href="https://www.youtube.com/channel/UCwjFbkA8PQvU1kN0dydG10A" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Canal</span></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/inspiraceu/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                            </li>                            
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->


    <!--sobre -->
    <div class="content-section-a fundo-maneiro" id="sobre">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Sobre: Projeto</h2>
                    <p class="lead">Somos uma rede de educação com experiência. Conectamos pessoas que querem aprender com pessoas que querem ensinar de forma a vivenciar uma experiência de aprendizado de forma <a target="_blank" href="https://pt.wikipedia.org/wiki/%C3%9Anico">única</a> e inesquecível.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <div class="embed-responsive embed-responsive-4by3">
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/-Nd_hQZkkUI" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div><!--Fim sobre -->
	
    <!--equipe -->
    <div id="equipe" class="content-section-b preto-fundo"> 
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-5">
                    <%= image_tag('deborah.jpg', :class => 'img-responsive img-circle fotinha') %>
                    <div class="row">
                        <div class="col-md-7">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <a href="#"><h2 class=" texto-preto">Déborah Andrade</h2></a>
                            <p class="texto-preto">Carismática como uma mãe para ensinar e ajudar. Apaixonada por escrita, fotografia e principalmente pelos projetos que faz. É a rainha do ppt e storytelling. Inquieta e completamente fora da caixa, vive na busca de histórias inspiradoras e projetos que transformam o mundo. As vezes bebe café.</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-5"> 
                   <%= image_tag('marcelo.jpg', :class => 'img-responsive img-circle fotinha') %>
                   <div class="row">
                        <div class="col-md-7">
                            <hr class="section-heading-spacer">
                            <div class="clearfix"></div>
                            <a href="#"><h2 class=" texto-preto">Marcelo Bulhões</h2></a>
                            <p class="texto-preto">Tem sangue nos olhos em tudo que faz, explorador de todos os assuntos possíveis. Apaixonado por ginástica e dançarino de um milhão de coisas. Já atuou como desenvolvedor, consultor e gerente de projetos. Além disso tudo, é fiscal da comida saudável e leitor de rótulo de água mineral.
                            </p>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--Fim equipe -->
    
    <!--servico -->
    <div class="content-section-a fundo-maneiro" id="servico">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Encontros</h2>
                    <p class="lead ">Em breve!</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <%= image_tag('foto_festival.jpg', :class => 'img-responsive img-rounded') %>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div><!--Fim servico -->
    
    <!-- /.content-section-a -->
	
    <!--contato -->
    <div class="banner" id="contato">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Entre em contato conosco:</h2>
                    <h3>inspiraceu@gmail.com</h3>
                    <p class="small ">(61)9260-7000</p>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <!--<li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li> -->
                        <li>
                            <a href="https://www.youtube.com/channel/UCwjFbkA8PQvU1kN0dydG10A" class="btn btn-default btn-lg"><i class="fa fa-youtube fa-fw"></i> <span class="network-name">Canal</span></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/inspiraceu/?fref=ts" class="btn btn-default btn-lg"><i class="fa fa-facebook fa-fw"></i> <span class="network-name">Facebook</span></a>
                        </li>
                    </ul>

                </div>
            </div>

        </div>
        <!-- /.container -->
    </div><!--Fim contato-->
    

    <!-- Footer -->
    <footer class="navbar-inverse ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="botao-home">Home</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#about" class="botao-sobre">Sobre</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>                        
                        <li>
                            <a href="#" class="botao-equipe">Equipe</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#services" class="botao-servico ">Serviços</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact" class="botao-contato">Contato</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; Inspiracéu 2016. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <!--Animação de scroll -->
    <script type="text/javascript">
        $(".botao-equipe").click(function() {
            $('html, body').animate({
                scrollTop: $("#equipe").offset().top
            }, 2000);
            event.preventDefault();
        });
        $(".botao-sobre").click(function() {
            $('html, body').animate({
                scrollTop: $("#sobre").offset().top
            }, 2000);
            event.preventDefault();
        });
        $(".botao-servico").click(function() {
            $('html, body').animate({
                scrollTop: $("#servico").offset().top
            }, 2000);
            event.preventDefault();
        });
        $(".botao-home").click(function() {
            $('html, body').animate({
                scrollTop: $("#home").offset().top
            }, 2000);
            event.preventDefault();
        });
        $(".botao-contato").click(function() {
            $('html, body').animate({
                scrollTop: $("#contato").offset().top
            }, 2000);
            event.preventDefault();
        });
    </script>
    <!--Fim animação -->
</body>

</html>
